.section-title{

    margin: 20px;
    font-size: 40px;

}

/* experties start */
.experties-container{

    border-top: 1px solid var(--front-primary-color);
    border-bottom: 1px solid var(--front-primary-color);


}
.expertiess{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.experties img{
   backdrop-filter: blur(4px);
    width: 100%;
height: 571;
top: 1617px;
left: 120px;
opacity: 1;
border-radius: 40px;

}

/* experties end */

/* project start */
.projects{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
}
.project img{

    width: 100%;
    
}

.check-all-project{
    display: flex;
    justify-content: center;
}


.check-all-project button{
    padding: 15px 50px;
    background-color: var(--background-color);
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 40px;

}

/* project end */

/* blog start */
.my-blogs{
    display: flex;
    justify-content: space-between;

}
.tag {
    background-color: white;
    width:fit-content ;
    padding: 17px 30px;
    border-radius: 50px;
    margin: 30px 0px;
}

.tag h1{
   color: black;
}
.date{
    display: flex;
    align-items: center;
    gap: 10px;
}
.date-name{
    display: flex;
    gap: 20px;
}
.round-date {
    width: 15px ;
    height: 15px ;
    background-color: #BA0BF9;
    border-radius: 100% ;
}
.round-name {
    width: 15px ;
    height: 15px ;
    background-color: #5E4AF1;
    border-radius: 100% ;
}
.blog-title{
    margin: 30px 0px;
    font-size: 32px;
}
/* blog end */



@media only screen and (min-width: 200px) and (max-width: 576px) {
    .expertiess{
   flex-direction: column;
 
    }
    .projects{
        grid-template-columns: repeat(1,1fr);
    }
    .my-blogs{
    flex-direction: column;
    
}
}   
